/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;600&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Контейнер таблиц */
.table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #e2e8f0;
}

/* Стили скроллбара */
.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Стили таблицы */
.table-container table {
    border-collapse: collapse;
    width: 100%;
}

.table-container th,
.table-container td {
    padding: 8px;
    border: 1px solid #e2e8f0;
    text-align: left;
}

.table-container th {
    background-color: #f0f0f0;
}

/* Стили ссылок */
a {
    text-decoration: none;
}
/* Стили для webcrumbs*/
#webcrumbs {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
}
#webcrumbs .mb-4 {
    margin-bottom: 16px;
}
#webcrumbs .mb-8 {
    margin-bottom: 32px;
}
#webcrumbs .mt-2 {
    margin-top: 8px;
}

#webcrumbs .grid {
    display: grid;
}

#webcrumbs .min-h-\[800px\] {
    min-height: 800px;
}

#webcrumbs .w-full {
  width: 100%;
}

#webcrumbs .table-auto {
   table-layout: auto;
   padding-top: 8px;
}

#webcrumbs .text-left {
  text-align: left;
}


#webcrumbs .font-title {
  font-family: 'Lato', sans-serif;
}
#webcrumbs .text-3xl {
  font-size: 30px;
  line-height: 36px;
}

#webcrumbs .text-xl {
  font-size: 20px;
  line-height: 28px;
}

#webcrumbs .font-semibold {
  font-weight: 600;
}

#webcrumbs .text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

#webcrumbs .text-neutral-50 {
  --tw-text-opacity: 1;
  color: rgb(247 247 247 / var(--tw-text-opacity));
}

#webcrumbs .text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity));
}
#webcrumbs .shadow-lg {
 --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#webcrumbs :is(.bg-neutral-800) {
 color: hsla(0, 0%, 100%, 0.9) !important;
}
#webcrumbs .hover\:text-blue-700:hover {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}
    .sort-header::-moz-selection {
        background: transparent;
    }
    .sort-header::selection {
        background: transparent;
    }

    .sort-header:focus {
        outline: 0;
    }

    .sort-header.sort-down,
    .sort-header.sort-up {
        color: #000000;
    }

    .sort-header:not(.sort-down):not(.sort-up):hover {
        color: #999;
        cursor: pointer;
    }

    .sort-header.sort-down::after {
        content: '▾';
        margin-left: 4px;
    }

    .sort-header.sort-up::after {
        content: '▴';
        margin-left: 4px;
    }