<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редактировать Поставщика</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='edit_style.css') }}">
</head>
<body>
  <div id="webcrumbs">
    <div class="w-[900px] bg-neutral-900 text-neutral-50 rounded-lg shadow p-8">
      <header class="flex justify-between items-center mb-6">
        <h1 class="text-xl font-title">Редактирование Поставщика</h1>
        <a href="{{ url_for('suppliers_page') }}" class="text-primary-500 underline">Назад</a>
      </header>
      <section>
        <h2 class="text-lg mb-4">Редактировать данные поставщика</h2>
        <form action="{{ url_for('edit_supplier', supplier_id=supplier.id_suppliers) }}" method="POST" class="flex flex-col gap-4">
          <label class="flex flex-col">
            <span>Цена доставки</span>
            <input type="text" name="delivery_price" class="bg-neutral-800 text-neutral-50 p-2 rounded-md border border-neutral-700 focus:outline-none focus:ring-2 focus:ring-primary-500" value="125"/>
          </label>
          <label class="flex flex-col">
            <span>Название компании</span>
            <input type="text" name="company_name" class="bg-neutral-800 text-neutral-50 p-2 rounded-md border border-neutral-700 focus:outline-none focus:ring-2 focus:ring-primary-500" value="BebralIT"/>
          </label>
          <button type="submit" class="bg-primary-500 text-neutral-50 py-2 px-6 rounded-md mx-auto w-[200px] hover:bg-primary-600">Обновить</button>
        </form>
      </section>
    </div>
  </div>
</body>
</html>
