<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказы на покупку</title>
</head>
<body>
    <h1>Список заказов на покупку</h1>
    <table border="1">
        <tr>
            <th>ID заказа</th>
            <th>Стоимость доставки</th>
            <th>Метод оплаты</th>
        </tr>
        {% for order in purchase_orders %}
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
