<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='tablesort.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tablesort.number.min.js') }}"></script>
     <style>

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 1000px;
            border-radius: 10px;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
  <div id="webcrumbs">
    <div class="w-[1200px] min-h-[800px] bg-neutral-900 text-neutral-50 rounded-lg shadow-lg p-8">
      <header class="mb-8 flex justify-between items-center">
        <h1 class="font-title text-3xl ">Таблица Рецепты</h1>
        <div>
          <a href="{{ url_for('index') }}" class="text-primary-500 underline mr-4">На главную</a>
           <a href="{{ url_for('recipe_statistics') }}" class="text-green-500 underline">Статистика</a>
        </div>

      </header>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <!-- Create New Recipe -->
      <section class='mb-6'>
        <h2 class='text-lg mb-4'>Добавить новый рецепт</h2>
        <form action="{{ url_for('create_recipe') }}" method="POST" class='flex flex-col gap-4'>
          <div>
            <label class='block text-sm mb-1'>Название блюда</label>
            <input type='text' name='name_recipe' class='w-full bg-neutral-800 rounded-md p-2 text-neutral-50 border border-neutral-700 focus:ring-2 focus:ring-primary-500 focus:outline-none' required />
          </div>
          <div>
            <label class='block text-sm mb-1'>Время приготовления</label>
            <input type='number' name='cooking_time' class='w-full bg-neutral-800 rounded-md p-2 text-neutral-50 border border-neutral-700 focus:ring-2 focus:ring-primary-500 focus:outline-none' required />
          </div>
          <button type='submit' class='w-[120px] bg-primary-500 text-neutral-50 rounded-md p-2 font-medium hover:bg-primary-600'>Добавить</button>
        </form>
      </section>

        <!-- Filter form -->
       <section class="mb-6">
            <h2 class="text-lg mb-2">Фильтр</h2>
        <form method="GET" action="{{ url_for('filtered_recipes_page') }}" class="flex flex-col sm:flex-row gap-4 items-start">
             <div class="flex flex-col mb-2 sm:mb-0">
                <label for="name_recipe" class="block text-sm mb-1">Название рецепта:</label>
                 <input type="text" name="name_recipe" id="name_recipe" class="w-full bg-neutral-800 rounded-md p-2 text-neutral-50 border border-neutral-700 focus:ring-2 focus:ring-primary-500 focus:outline-none"  placeholder="Название рецепта"/>
            </div>
            <div class="flex flex-col mb-2 sm:mb-0">
                 <label for="cooking_time_min" class="block text-sm mb-1">Время приготовления от:</label>
                <input type="number" name="cooking_time_min" id="cooking_time_min" class="w-full bg-neutral-800 rounded-md p-2 text-neutral-50 border border-neutral-700 focus:ring-2 focus:ring-primary-500 focus:outline-none" placeholder="Время от" />
                 <label for="cooking_time_max" class="block text-sm mb-1">Время приготовления до:</label>
                 <input type="number" name="cooking_time_max" id="cooking_time_max" class="w-full bg-neutral-800 rounded-md p-2 text-neutral-50 border border-neutral-700 focus:ring-2 focus:ring-primary-500 focus:outline-none"  placeholder="Время до"/>
            </div>
             <button type="submit" class="bg-primary-500 text-neutral-50 py-2 px-6 rounded-md mx-auto w-[120px] hover:bg-primary-600">Фильтр</button>
             <a href="{{ url_for('recipes_page') }}" class="bg-neutral-800 hover:bg-neutral-700 text-neutral-50 py-2 px-6 rounded-md mx-auto w-[120px]">Сбросить</a>
         </form>
       </section>

      <!-- Recipes Table Section -->
      <section>
        <h2 class="text-xl font-semibold text-neutral-950 mb-4"></h2>
        <div class="border rounded-md p-4">
          <table class="table-auto w-full text-neutral-700">
            <thead>
              <tr class="bg-gray-200">
                <th class="text-left sort-header" data-sort-method='number'>ID</th>
                <th class="text-left sort-header">Название рецепта</th>
                <th class="text-left sort-header" data-sort-method='number'>Время приготовления</th>
                <th class="text-left">Действия</th>
              </tr>
            </thead>
            <tbody>
              {% for recipe in recipes %}
              <tr>
                <td>{{ recipe.id_recipes }}</td>
                <td>{{ recipe.name_recipe }}</td>
                <td>{{ recipe.cooking_time }}</td>
                <td>
                  <a href="{{ url_for('edit_recipe', recipe_id=recipe.id_recipes) }}" class="text-yellow-500">Редактировать</a> |
                    <button onclick="openModal({{ recipe.id_recipes }})" class="text-blue-500">Состав</button> |
                  <form action="{{ url_for('delete_recipe', recipe_id=recipe.id_recipes) }}" method="POST" style="display:inline;">
                    <button type="submit" class="text-red-500">Удалить</button>
                  </form>
                </td>
              </tr>
              {% else %}
                 <tr><td colspan="4">Нет данных</td></tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

        <!-- Modal for Recipe Composition -->
    <div id="recipeModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">×</span>
            <div id="modalContent"></div>
        </div>
    </div>

      <script>
        document.addEventListener('DOMContentLoaded', () => {
             const tables = document.querySelectorAll('.table-auto');
             tables.forEach(table => {
                 new Tablesort(table);
            });
        });

            function openModal(recipeId) {
                 const modal = document.getElementById('recipeModal');
                const modalContent = document.getElementById('modalContent');
                modal.style.display = 'block';
                // Load the filtered composition table
                fetch(`/recipe_composition_modal/${recipeId}`)
                    .then(response => response.text())
                    .then(data => {
                         modalContent.innerHTML = data;
                         attachModalFormListeners(recipeId); // Вызываем здесь
                    });

            }
            function closeModal() {
                const modal = document.getElementById('recipeModal');
                 modal.style.display = 'none';
            }
        window.onclick = function(event) {
             const modal = document.getElementById('recipeModal');
             if (event.target == modal) {
                 modal.style.display = "none";
            }
        }
         function attachModalFormListeners(recipeId) {
              const modalContent = document.getElementById('modalContent');

            // Create form
             const createForm = modalContent.querySelector('#create-form-recipe');
                if(createForm) {
                    createForm.addEventListener('submit', function (event) {
                        event.preventDefault();
                        fetch(`/create_recipe_composition/${recipeId}`, {
                            method: 'POST',
                            body: new FormData(createForm)
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                fetch(`/recipe_composition_modal/${recipeId}`)
                                .then(response => response.text())
                                .then(data => {
                                    modalContent.innerHTML = data;
                                    attachModalFormListeners(recipeId);
                                });
                            } else {
                                alert('Ошибка при создании');
                            }
                        });
                    });
                }
              // Edit forms
              modalContent.querySelectorAll('.edit-form-recipe').forEach(editForm => {
                    editForm.addEventListener('submit', function (event) {
                        event.preventDefault();
                        const compositionId = editForm.dataset.compositionId;
                        fetch(`/edit_recipe_composition/${compositionId}/${recipeId}`, {
                                method: 'POST',
                                body: new FormData(editForm)
                        })
                        .then(response => response.json())
                        .then(data => {
                           if (data.success) {
                                fetch(`/recipe_composition_modal/${recipeId}`)
                                    .then(response => response.text())
                                    .then(data => {
                                        modalContent.innerHTML = data;
                                        attachModalFormListeners(recipeId);
                                    });
                            } else {
                                 alert('Ошибка при редактировании');
                            }
                        });
                    });
              });

            // Delete forms
             modalContent.querySelectorAll('.delete-form-recipe').forEach(deleteForm => {
                deleteForm.addEventListener('submit', function (event) {
                     event.preventDefault();
                    const compositionId = deleteForm.dataset.compositionId;
                     fetch(`/delete_recipe_composition/${compositionId}/${recipeId}`, {
                        method: 'POST'
                     })
                        .then(response => response.json())
                        .then(data => {
                             if (data.success) {
                                  fetch(`/recipe_composition_modal/${recipeId}`)
                                    .then(response => response.text())
                                    .then(data => {
                                        modalContent.innerHTML = data;
                                        attachModalFormListeners(recipeId);
                                  });
                            } else {
                                 alert('Ошибка при удалении');
                             }
                        });
                });
            });
        }
    </script>
</body>
</html>